<br/>
<center><h3>Статусы Заявок</h3></center>
<br/>
<br/>
<table class="table table-bordered table-condensed table-stripped span7 offset2">
	<th><center>N%</center></th>
	<th><center>Cтатус:</center></th>
	<th><center>Создана:</center></th>
	<% @zayavkas.each do |z| %>	
		<tr>
			<td><center><%= '%05d' % z.usercount %></center></td>
			<td><center><%= @zayavkas.get_status( z.status ) %></center></td>
			<td><center><%= z.created_at %></center></td>
		</tr>
	<% end %>
	
</table>