<br/>
<br/>
<br/>
<center>
	<h3>У пользователя <%= @user.pib %> нету созданных Заявок</h3>
	<br/>
	<br/>
	<%= link_to('Назад', request.env["HTTP_REFERER"], :class => 'btn') %>
</center>
<br/>
<br/>
<br/>