<br/>
<center><h3>Тип транспорта</h3><br/>
  <div class="container">
    <div class="row">
      
        <div class="span1 offset2">
          <h4>Наименование</h4>
        </div>
    </div>
    <div class="row">
      <center>
        <table class="span8 offset2 table table-condensed">

      <% @transports.each do |transport| %>
        <tr>
          <td class="span6"><%= transport.name %></td>
          <td><%= link_to 'Редактировать', edit_transport_path(transport), :class => 'href' %>
          <%= link_to 'Удалить', transport, confirm: 'Уверены?', method: :delete, :class => 'href' %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="row">
      <div class="span1 offset9">
        <%= link_to 'Добавить', new_transport_path, :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
</center>


