<br/>
<br/>

<center><h3>Тип транспорта</h3><br/>
  <div class="container">
    <div class="row">
      <h4 class="span4">Наименование</h4><br>
      <table class="span8 table table-bordered table-condensed">
        <tr>
        
        </tr>

      <% @transports.each do |transport| %>
        <tr>
          <td class="span6"><%= transport.name %></td>
          <td><%= link_to 'Редактировать', edit_transport_path(transport), :class => 'btn btn-primary' %>
          <%= link_to 'Удалить', transport, confirm: 'Уверены?', method: :delete, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="row span8">
      <%= link_to 'Добавить', new_transport_path, :class => 'pull-right btn btn-success' %>
    </div>
  </div>
</center>


