<center><h2>Страница администратора</h2></center><br/>
<%= link_to "Типы транспорта", :controller => 'transports', :action => 'index' %><br/>
<%= link_to "Таможенный режим", :controller => 'customs', :action => 'index' %><br/>
<%= link_to "Администраторы", :controller => 'admin', :action => 'list' %><br/>
