<%= render :template => 'manager/list' %>
=======
<div class="container">
	<div class="row">
		<center><h2>Страница администратора</h2></center><br/>
	</div>
</div>
>>>>>>> 9e1bac39fe82b5337cb4db988b7a963ecdfbd9ac
