<%= link_to "Новый Админ", :controller => 'admin', :action => 'new' %><br/>
<br/>
<br/>
<br/>
<table>
	<th>N%</th>
	<th>Email:</th>
	<% @admin.each do |ad| %>	
		<tr>
			<td><%= ad.id %></td>
			<!-- <td><%= ad.email %></td> -->
		</tr>
	<% end %>
</table>
<br/>