<br/>
<br/>

<center><h3>Создание нового администратора</h3><br/>
<div class="span4 offset4">
	<%= form_for(:admin, :url => {:action => 'create'}) do |f| %>
	 	<fieldset>
	 		<div class="control-group">
	 			<label class="control-label" for="input01">Email:*</label>
	 				<div class="controls">
						<input type="text" id="input01"><%= f.text_field(:email) %>
					</div>
				</label>
			</div>
		</fieldset>
	<% end %>
</div>



