<br/>
<br/>

<center><h3>Таможенный режим</h3></center><br/>
  <div class="container">
    <div class="row">
      
        <div class="span1 offset2">
          <h4>Наименование</h4>
        </div>
    </div>
    <div class="row">
      <center>
        <table class="span8 offset2 table table-condensed">


        <% @customs.each do |custom| %>
          <tr>
            <td class="span6"><%= custom.name %></td>
            <td><%= link_to 'Редактировать', edit_custom_path(custom), :class => 'href' %>
            <%= link_to 'Удалить', custom, confirm: 'Уверены?', method: :delete, :class => 'href' %></td>
          </tr>
        <% end %>


        </table>
      </center>
    </div>
    <div class="row">
      <div class="span1 offset9">
        <%= link_to 'Добавить', new_custom_path, :class => 'btn btn-success' %>
      </div>
    </div>
  </div>

