<br/>
<br/>

<center><h3>Таможенный режим</h3><br/>
  <div class="container">
        <h4 class="span4">Наименование</h4><br>
        <table class="span8 table table-bordered table-condensed">
          <tr>
          
          </tr>

        <% @customs.each do |custom| %>
          <tr>
            <td class="span6"><%= custom.name %></td>
            <td><%= link_to 'Редактировать', edit_custom_path(custom), :class => 'btn btn-primary' %>
            <%= link_to 'Удалить', custom, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %></td>
          </tr>
        <% end %>


        </table>
      </div>
    <div class="row span8">
      <%= link_to 'Добавить', new_custom_path, :class => 'pull-right btn btn-success' %>
    </div>
  </div>
</center>
