<tr>
	<th align="left">Номер договора:*</th>
	<td>
		<%=f.text_field :dognum, :class=>'input-mini' %>&nbsp&nbsp от &nbsp&nbsp&nbsp<%=f.text_field :dogdate, :class=>'input-small', :style => "width: 95px;"%>
	</td>
</tr>
