<br/>
<br/>
<div class="container">
	<div class="row">
			<div class="pull-left">
				<%= link_to("Создать Пользователя",{:controller => 'user', :action => 'new' }, :class => 'btn  btn-small btn-success offset1') %>
			</div>
		<% if session[:priv] == 4 %>
			<div class="pull-right" style="margin-right: 100px;">
				<%= link_to("Создать Менеджера",{:controller => 'manager', :action => 'new' }, :class => 'btn  btn-small btn-success offset1') %>
			</div>
		<% end %>
	</div>
	<br>
	<div class="row">
		<center>
		<% if @managers.present? %>
			<%=render "shared/manager_managers_list", :managers => @managers%>
		<% end %>
			<%=render "shared/manager_users_list", :mains => @mains%>
		</center>
	</div>
</div>
<br/>