<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Здравствуйте!<br/>
    Уважаемый, <%= @user.login %><br/>
    <p>
      Вы были зарегистрированы в Системе оформления заявок компании «Донтрансгарант и компания».<br/>
    </p>
    <p>
      Для входа в личный кабинет перейдите по адресу:<br/>
      <%= @url %><br/>
      Ваши учетные данные:<br/>
      Логин: <%= @user.login %><br/>
      Пароль: <%= @pass %><br/>
    </p>
    <p>
        Если Вы не заинтересованы или не осведомлены о целях регистрации в системе – пож-ста удалите это письмо.<br/>
        С уважением, Администратор<br/>
    </p>
  </body>
</html>

