<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Здравствуйте!<br/>
    <p>
        Если Вы не заинтересованы или не осведомлены о целях регистрации в системе – пож-ста удалите это письмо.<br/>
        С уважением, Администратор<br/>
    </p>
  </body>
</html>

