<!DOCTYPE html>
<html>
<head>
  <title>Dtg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag :defaults, "nested_form" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">	
			<%= yield %>
		</div>
	</div>

</body>
</html>
